@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}
body{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    height: 100vh;
    background:url(prediction.jpeg);
    background-position: center;
    background-size: 1900px 800px;
    font-family:'Roboto', sans-serif;
    color: rgb(248, 250, 244);
}
.wrapper{
    width: 450pv;
    background: #fff;
    padding: 30px;
    box-sizing: 0px 0px 10px rgba(0,0,0,0.1);
}
.wrapper .input-data{
    height: 40px;
    width: 100%;
    position: relative;
}
.wrapper .input-data input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid silver;
}
.input-data input:focus ~ label{
    transform: translateY(-20px);

}
.wrapper .input-data label{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;

}
.wrapper .input-data .underline{
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 100%;
    
}
.input-data .underline:before{
    background: #4158d0;
    position: absolute;
    content: --;
    height: 100%;
    width: 100%;
   
    transform: scaleX(0);
    
    
}
.input-data input:focus ~ .underline:before,
.input-data image:valid ~ .underline:before{
    transform: translate(-20px);
    font-size: 15px;
    /*color: #4158d0;*/
    transform: scaleX(1);
}
.loginbox{
    width: 520px;
    height: 420px;
    color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-25%);
    box-sizing: border-box;
    padding: 50px 30px;
}
.loginbox l{
    width: 100%;
    margin-bottom: 20px;
}
.loginbox input[type="Submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    font-size: 18px;
    border-radius: 20px;
}
.input-data div{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}
.input-data div:hover
{
    color:#ffc107;
}
