body{
    margin: 0;
    padding: 0;
    background: url(loggg.jpg);
    background-position: center;
    background-size: 1525px 900px;
    font-family: sans-serif;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    padding: 6px 3px;
    transition: 1.35s;
}
.nav-links ul li a.active,
.nav-links ul li a:hover{
    background: rgb(103, 48, 11);
    border-radius: 2px;
}
.loginbox{
     width: 520px;
     height: 420px;
     background: rgb(0, 0, 0);
     color: rgb(255, 255, 255);
     top: 50%;
     left: 50%;
     position: absolute;
     transform: translate(-50%,-50%);
     box-sizing: border-box;
     padding: 70px 30px;
}
.LOGO{
    width: 100px;
    height: 100px;
    border-radius: 55%;
    position: absolute;
    top: -50px;
    right: 43.5%;
    
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginbox input[type="text"],input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(225, 255, 1);
    font-size: 16px;
}
.loginbox input[type="Submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #ffffff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="Submit"]:hover
{
    cursor: pointer;
    background: #cf6868;
    color: rgb(255, 255, 255);
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}
.loginbox a:hover
{
    color:#ffffff;
}